@import "../../style/variables";

.chat {
  margin: 25px 10%;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;

  &__controls {
    width: 30%;
    background-color: $main-white;

    &__profile {
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $chat-main-background;

      svg {
        max-width: 40px;
        height: 40px;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        max-width: 40px;
        height: 40px;
      }

      &_actions {
        display: flex;
        gap: 8px;
      }
    }
  }

  &__textfield {
    width: 70%;
    background-color: $chat-main-background;
  }
}