@import "../../../../styles/variables";

.contacts {
  background-color: white;
  padding: 0 10px;
  height: calc(100% - 59px);
  overflow-y: scroll;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      color: $primary-title;
      padding: 8px 0;
    }
  }
}