@use "../../../../styles/variables" as *;

.contacts {
  background-color: white;
  padding: 10px 10px 0 10px;
  height: calc(100% - 59px);
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      color: $primary-title;
      padding: 8px 0;
    }
  }
}