@import "../../styles/variables";

.chat {
  margin: 0 auto;
  background-color: white;
  display: flex;
  max-width: 1600px;
  width: 100%;
  max-height: calc(100vh - 36px);
  box-shadow: 0 6px 18px $shadow-rgb;
  overflow: hidden;

  &__controls {
    width: 30%;
    height: 100%;
    background-color: $main-white;

    &__profile {
      max-height: 59px;
      box-sizing: border-box;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $chat-main-background;

      svg {
        max-width: 40px;
        height: 40px;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        max-width: 40px;
        height: 40px;
      }

      &_actions {
        display: flex;
        gap: 17px;
      }
    }

    &__searchInput {
      height: 49px;
      padding: 0 0 0 12px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-strong;

      button {
        cursor: pointer;
        border: none;
        background: transparent;

        svg {
          margin: 0 8px;
        }
      }
    }

    &__contacts {
      background-color: white;
      padding: 0 10px;
      height: 100%;
      overflow-y: scroll;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          color: $primary-title;
          padding: 8px 0;
        }
      }
    }
  }
}

.chat__textfield {
  position: relative;
  border-left: 1px solid $border-strong;
  border-bottom: 6px solid $intro-border;
  width: 70%;
  background-color: $chat-main-background;
  display: flex;
  flex-direction: column;

  &__typingStatus {
    position: absolute;
    bottom: 55px;
    left: 0;
    background-color: transparent;

    p {
      font-size: 13px;
    }

    svg {
      width: 30px;
      height: 9px;
    }
  }

  p {
    justify-items: flex-end;
    color: $primary-text;
    margin: 10px 20px;
  }


  &__log {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: $main-white;
    height: 100vh;
    width: 100%;

    &_message {
      margin: 10px 20px;
      background-color: $chat-main-background;
      min-width: 400px;
      max-width: fit-content;
      box-sizing: border-box;
      padding: 4px;
      border-radius: 8px;

      h4 {
        color: $primary-title;
      }

      p {
        justify-items: flex-end;
        color: $primary-text;
      }

      &_time {
        font-size: 12px;
        text-align: end;
      }
    }


    &_youMessage {
      align-self: flex-end;
      margin: 10px 20px;
      background-color: $main-link-color;
      min-width: 400px;
      max-width: fit-content;
      box-sizing: border-box;
      padding: 4px;
      border-radius: 8px;

      p {
        color: $main-white;
      }
    }

    button {
      height: 59px;
      align-self: flex-end;
      background-color: $warning-button;
      cursor: pointer;
      border: none;
      padding: 3px 6px;
      color: $main-white;
    }
  }
}