@use "../../../../../styles/variables" as *;

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid $border-strong;
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 3px;
}

.avatar {
  display: flex;
  margin-right: 8px;
  position: relative;
}

.user_avatar {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $shadow-rgb;
}

.user_avatar_fallback {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $shadow-rgb;
  background-color: $chat-main-background;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.hidden {
    display: none;
  }
}

.username {
  color: $primary-text;
}

.online {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #25d366;
}