$main-green: #00A884;
$main-grey: #F0F2F5;
$input-background: #f0f2f5;
$main-white: #FFFFFF;
$main-link-color: #27b463;
$warning-button: #de4444;
$chat-main-background: #F0F2F5;
$primary-title: #41525d;
$primary-text: #667781;
$border-strong: #e9edef;
$intro-border: #25d366;
$app-background-stripe: #00a884;
$app-background: #eae6df;
$shadow-rgb: rgba(11, 20, 26, .05)